body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;

}
nav{
    padding-top: 5px;
    padding-left: 24px;
    background-color: white;
    height: 70px;
}
nav img{
    margin-bottom: 10px;
    margin-left: 10px;
    width: 110px;
    height: 68px;
}
nav span{
    font-weight: bold;
    font-size: 29px;
    padding-left:10px;
}
#language-selector {
      font-weight: bold;
      bottom: 10px;
      left: 10px;
      width: 119px;
      margin-left:20px;
      font-size: 1em;
      border: none;
      color:#40ABCF;
      background-color: rgba(0, 0, 0, 0);
    }

.navigation ul {
    margin-right: 100px;
    margin-top: 17px;
    float: right;
    list-style: none;
    padding: 0;
    font-size: 17px;
    color:blue;
}


.navigation li {
  display: inline-block;
  margin-left: 20px;

}

.navigation li:first-child {
  margin-left: 0;
}

#l{
    padding-left: 20px;
}

.navigation a {
  font-weight: bold;
  font-size: 1em;
  color: #40ABCF;
  text-decoration: none;
}

.navigation a:hover {
  text-decoration: underline;
}
.na{
   background-color: #4A85E3;
}
#language-selector1 {
      font-weight: bold;
      bottom: 10px;
      left: 10px;
      width: 113px;
      margin-left:20px;
      font-size: 1em;
      border: none;
      color:#40ABCF;
      background-color: rgba(0, 0, 0, 0);
      margin-top: 20px;
    }
.offcanvas-body ul {
    margin-right: 80px;
    margin-top: 20px;
    float: left;
    list-style: none;
    padding: 0;

}
.offcanvas-body li{
    margin-left: 20px;
}
.offcanvas-body li:first-child{
    margin-left: 0;
}
.offcanvas-body a {
  font-weight: bold;
  font-size: 1em;
  color: black;
  text-decoration: none;
}
.offcanvas-body a:hover {
  text-decoration: underline;
}

.container-fluid button{
    padding-bottom: 17px;
}
.centered-text {
    padding-top: 2%;
      text-align: center;
    }
.centered-text h1{
    font-weight: bold;
    font-size: 40px;
}
.pp{
    width: 50%;
}
.rrr{
    padding-top: 5%;
}
.pop{
    height: 60px;
    background-color:#E8F0FE;
    border-radius: 15px;
}

.vbn{
   background-color: #dfdaf2;
}
.vbn img{
    width: 40px;
}

.object{
    float: left;
    display: block;
    font-weight: bold;
    font-size: 20px;
    padding-left: 1px;
}
#myCheckbox{
    height: 23px;
    width: 23px;
    position: absolute;
    right: 26%;
}
.sil{
    padding-top: 10%;
    margin-right: 10px;
    font-weight: bold;
    font-size: 20px;

}
.sil a{
    text-decoration: none; /* Убирает подчеркивание ссылки */
    border-bottom: none; /* Убирает дефис под словом */

}
.kn{
    padding-top: 4%;
    text-align: center;
}

.rrr{
    margin-bottom: 5px;
}
.silka{
    width: 50%;
    padding-top: 2%;
    padding-bottom: 2%;
    font-weight: bold;
    margin-right: 80%;
    font-size: 20px;
    text-decoration: none;
}
@media (max-width: 800px) {
       .container-fluid button:focus,.container-fluid button:active{
        box-shadow: none !important;

    }
    #offcanvasNavbar{
        width: 100%;
        height: 100%;
    }

    #top ul{
        width: 60%;
    }

    #top .osob{
        margin-right: 50px;
    }

    #top .onas{
        margin: 0;
      padding:0;
        margin-right: 15px;
    }
    .pic{
        width: 60%;

    }
    #top .person{
        width: 30px;
        height: 30px;
        margin: 0;
    }
    #top .us{
        margin:0;
        width: 30px;
        height: 30px;
    }
    #top .world{
        margin: 0;
        width: 30px;
        height: 30px;
        margin-top: 20px;


    }
    .btn-close{
        margin-right: 0;
    }
    .container-fluid button{
        border: none;
    }

    #selec{
        padding-bottom: 50px;
        margin-right: 20px;
        float:left;

    }
    #language-selector1{
          margin-right: 100px;
        margin: 0;
        margin-top: 25px;
    }
    .offcanvas-header{
        padding-right: 50px;
    }
    .offcanvas-header img{
        height: 50px;
        width: 50px;
        margin: 0;
        padding: 0;
    }
    .offcanvas-header h5{
        font-size: 24px;
        padding-right: 60%;
    }
    .pic img{
        height: 60px;
        width: 60px;
        margin:0;
        margin-bottom: 15px;
    }
    .pic span{
      font-size: 35px;
      display: inline-block;
      margin-bottom: 15px;
      padding-top: 15px;
      padding-left: 10px;
    }
    .row1 h3{
        display: none;
    }
    #top2{
        display: none;
    }
  .navigation {
    display: block;
    text-align: center;
  }
  .navigation img {
    display: block;
    margin: 0 auto;
  }
  .navigation span {
    display: block;
    margin: 10px auto;
  }
  .navigation ul {
    display: block;
    text-align: center;
  }
  .navigation li {
    display: block;
    margin: 5px 0;
  }
  #language-selector {
    display: block;
    margin: 10px auto;
  }
   .pic img{
     width: 100px;

 }
   .offcanvas-header img{
     width: 100px;
 }
   .vbn img{
       width: 20px;
       height: 20px;
   }
   .centered-text h1{
       font-size: 27px;
   }
   .object{
       font-size: 14px;
   }
   #myCheckbox{
       width: 17px;
       height: 17px;
   }
   .sil{
       padding-top: 23%;
   }
   .sil a{
       padding-top: 5%;
       font-size: 14px;
   }
   .pop{
       height: 40px;
       font-size: 13px;
       margin-bottom: 10px;

   }
   .rrr{
       width: 80%;
       padding-right: 2%;
       padding-left: 5%;
   }

   .container{
       width: 100%;
   }
   .object{
       margin-left: 5%;
       font-size: 10px;
   }
   .kn{
       padding-top: 13%;
   }
   .silka{
    font-size: 10px;
    width: 80%;
    margin-right: 75%;
   }
}

@media (min-width: 800px){
    #top{
        display: none;
    }
}

@media only screen and (min-width: 620px) and (max-width: 810px){
    #selec{
        position: absolute;
        bottom: 57%;
    }
    .sil{
       padding-top: 13%;
   }
}
@media only screen and (min-width: 800px) and (max-width: 970px){
    .sil{
       padding-top: 15%;
   }
}