
.container {
  text-align: center;
  width: 50%;
  margin: 40px auto;
  background-color: #fcfcfc;
  

}
.data{
  font-weight: bold;
  font-size: 35px;
}
/*.upxxxx{
  text-align: center;
  width: 50%;
  margin-left: 23%;
  margin-top: 5%;
  border: none;

}

.upx{
  height: 100px;

}
.time1{
  position: absolute;
  top:5%;
  font-size: 20px;
  left: 5%;
}
.city1{
  position: absolute;
  top:5%;
  font-size: 20px;
  left: 12%;
  font-weight: bold;
}

.time2{
  position: absolute;
  bottom:5%;
  font-size: 20px;
  left: 5%;
}
.city2{
  position: absolute;
  bottom:5%;
  font-size: 20px;
  left: 12%;
  font-weight: bold;
} */
.test{
  padding-left: 20%;
  padding-top: 5%;
}
.events li { 
  display: flex; 
  color: #054652;
}

.events time { 
  position: relative;
  padding: 0 1.5em;  }

.events time::after { 
   content: "";
   position: absolute;
   z-index: 2;
   right: 0;
   top: 0;
   transform: translateX(50%);
   border-radius: 50%;
   background: #FFFFFF;
   border: 1px #ccc solid;
   width: .8em;
   height: .8em;
}


.events span {
  padding: 0 1.5em 1.5em 1.5em;
  position: relative;
}

.events span::before {
   content: "";
   position: absolute;
   z-index: 1;
   left: 0;
   height: 100%;
   border-left: 1px #ccc solid;
}

.events strong {
   display: block;
   font-weight: bolder;
}

.events { margin: 1em; width: 50%; }
.events, 
.events *::before, 
.events *::after { box-sizing: border-box; font-family: arial; }

.link:hover {
  text-decoration: underline; /* Добавляем подчеркивание при наведении на ссылку */

}
.link{
   
    color: #0066cc; /* Цвет ссылки */
    text-decoration: none; /* Убираем подчеркивание ссылки */
    font-weight: bold; /* Добавляем полужирное начертание */

}
.horiz{
  height: 7px; /* Задайте желаемую толщину линии */
  background-color: rgb(104, 100, 100); /* Задайте желаемый цвет линии */
  border-radius: 5px;
}
.tex{
  color: grey;
  padding-top: 3%;
  font-weight: bold;
  padding-right: 45%;
  display: inline-block;
}
.price{
  
  font-weight: bold;
  display: inline-block;
}
.butto{
  padding-top: 3%;
  margin-right: 45%;
}
.te{
  
  text-align: left;
  
}
@media (max-width: 800px){
  
  .container{
    padding-top: 5%;
    
  }
  .events  {
    margin: 1em;
    width: 80%;
    margin-left: -40%; /* Добавляем это правило для сдвига содержимого влево */
  }
  .horiz{
    border-radius: 0;
    width: 193%;
  }
  .tex{
    padding-top:5%;
    font-size: 22px;
    
  }
  .money{
  
    width: 180%;
  }
  .price{
    margin-left: 20%;
    
    font-size: 23px;
  }
  .butto{
    margin-right: 25%;
  }
  .dop{
    width: 100%;
    margin-left: 10%;
  }
}